.col-md-8, .col-md-4{
	/* background-color: #EAEAEA; */
	height: 240px;
}

.col-md-6{
	height: 120px;
	/* background-color: #79CDCD; */
}

.login-header{
	/* background-color: #EAEAEA; */
}

.login-container-fluid {
	background-color: #79CDCD; 
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	/* margin-top: 5%; */
}

.login-tag{
	border：3px solid #000;
	/* background-color: #EAEAEA; */
}

.text-title {
	color: #104E8B;
	font-size:70px; 
	text-align:center;
	font-weight:bold;
	margin-top: 10%;
	text-shadow: 5px 5px 0 #fff, 7px 7px 0 #104E8B;
}

.line-title{
	text-align:center;
	font-weight:bold;
}

.table-name-fonts {
	font-size: 20px;
	font-family: 'Lucida Console', Tahoma;
	text-shadow: 1px 1px 0 #fff, 1px 1px 0 #000;
	text-align: left;
}

.table-name-fonts-1 {
	font-size: 20px;
	font-family: 'Comic Sans MS', 'Courier New';
	text-align: left;
}

.nav-fonts {
	font-size: 16px;
	font-family: 'Lucida Console', Tahoma;
	color: #fff;
	font-weight:bold;
	/* text-align: left; */
}

.status-fonts {
	font-size: 15px;
	color: red;
	font-weight:bold;
	/* text-align: left; */
}

.status-fonts-success {
	font-size: 15px;
	color: green;
	font-weight:bold;
}
.table-fonts {
	font-size: 20px;
	font-family: 'Lucida Console', Tahoma;
	text-align: left;
}

.fonts-center {
	text-align: center;
}

.fonts-left {
	text-align: left;
}
.modal-page-header {
  padding-bottom: 9px;
  margin: 10px 0 20px;
  border-bottom: 1px solid #eee;
}

.right-tag {
	float: right;
}
.height-40 {
	height: 40px;
}
.height-120 {
	height: 120px;
}


.height-240 {
	height: 240px;
}
