{% extends "main_new.html" %}
{% block content %}
<div class="col-md-6 col-md-offset-2">
	{% if the_box['alert']['tag'] %}
	<div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<div>{{ the_box['alert']['context'] }}</div> 
	</div>
	{% end %}
	<form method="post">
		<div class="form-group">
			<label for="exampleInputEmail1">UserName</label>
			<input type="text" class="form-control" name="username" placeholder="请输入用户名">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">PassWord</label>
			<input type="password" class="form-control" name="password" placeholder="请输入密码">
		</div>
		<div class="checkbox">
			<button type="submit" class="btn btn-lg btn-primary btn-block" >Create</button>
		</div>
	</form>
</div>
{% end %}

