<div class="box box-widget widget-user box-solid">
	<div class="box-footer">
	  <div class="row">
	    <div class="col-sm-6 border-right">
	      <div class="description-block">
	        <h1 id="frontend_ngx" class="description-header" style="font-size: 50px;color: rgb(60, 141, 188);">0</h1>
	        <span class="description-text">FRONTEND NGX</span>
	      </div>
	      <!-- /.description-block -->
	    </div>
	    <div class="col-sm-6">
	      <div class="description-block">
	        <h3 id="aqb_ngx" class="description-header" style="font-size: 50px;color: rgb(60, 141, 188);">0</h3>
	        <span class="description-text">AQB NGX</span>
	      </div>
	      <!-- /.description-block -->
	    </div>
	    <!-- /.col -->
	  </div>
	  <!-- /.row -->
	</div>
</div>

<div class="box box-primary box-solid">
	<div class="box-header with-border ">
	  <h3 class="box-title"><b>记录信息</b></h3>
	</div>
	<div class="box-body" style="height: 500px;">
		<!--<div class="col-md-12"> --!>
			<div id="aqb_message">
			</div>
		<!--</div> --!>
	</div>
</div>

