<div class="box box-primary">
	<div class="box-header with-border">
	  <h3 class="box-title">Zone List</h3>
	  <div class="box-tools pull-right">
	  	<a class="uppercase"><i class="glyphicon glyphicon-chevron-left"></i></a>
	  </div>
	</div>
	<div class="box-body">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#">daling.com</a></li>
			<li><a href="#">ymall.com</a></li>
			<li><a href="#">srv.daling.com</a></li>
			<li><a href="#">beta.daling.com</a></li>
			<li><a href="#">corp.daling.com</a></li>
		</ul>
	</div>
</div>

